.about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65%;
    margin: 0 auto;
}

.about h2{
    background-color: rgba(0, 0, 0, 0.281);
    padding: .2em;
    font-size: .8em;
    width: 100%;
}

.about .rrss {
    margin-top: 2em;
    width: 100%;
    /* background: lightgreen; */

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.about .svg {
    width: 3em;
    height: 3em;
    margin-right: 1em;
    /* background: red; */
}

#about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about1 {
    width: 100%;
    height: 100%;
    margin: 1.5em;
}

.about1 ul li{
    text-align: start;
    list-style: circle;
}

.about1 li,
p {
    font-size: 2em;
    margin-top: 0;
    text-align: start;

}

.about2 {
    width: 100%;
    height: 100%;
    margin: 1.5em;
}

.about2 p {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: start;
    width: 100%;
}

@media screen and (max-width: 996px) {
    .seccion .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about-text {
        font-size: .8em;
    }
}

@media screen and (max-width: 550px) {
    #about{
        width: 85%;
    }
    #about-text {
        display: flex;
        flex-direction: column;
        font-size: .5em;
        justify-content: center;
        text-align: center;
    }

    #about h2 {
        font-size: 2em;
    }



    .about1 {
        width: 95%;
    }

    .about2 {
        width: 95%;
    }
}
