header {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
    /* display: none; */
    position: fixed;
    top: 1.9em;
    left: 50%;
    transform: translate(-50%, -50%);

}


header .h1 .a {
    color: white;
}

header .nav .ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 3.6em;
    margin-left: 1em;
    margin-top: .2em;
}

header .img {
    width: 100%;
    border-radius: 50%;
    opacity: .9;
}

header .img:hover {
    opacity: 1;
}


header .nav .ul .li {
    margin: 0 1em;
}

header .nav .ul .li .a {
    color: white;
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    padding: .6em .6em .6em;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
    transition: background-color 0.5s ease
}

header .nav .ul .li .a:hover {
    background: rgba(255, 255, 255, 0.76);
    color: black;

}

@media screen and (max-width: 550px) {
    header .nav .ul .li .a {
        padding: 0;
        border-top: 0;
        box-shadow: initial;
        font-weight: 500;
        font-size: .9em;
    }




}