header {
    width: 87%;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
    /* display: none; */
    position: fixed;
    top: 5em;
    left: 50%;
    transform: translate(-50%, -50%);


}


header .h1 .a {
    color: white;
}


header .nav .ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 8em;
}

header .img {
    width: 100%;
    border-radius: 50%;
    opacity: .3;
}

header .img:hover{
    opacity: 1;
}


header .nav .ul .li {
    margin: 0 1em;
}

header .nav .ul .li .a {
    color: white;
    cursor: pointer;
}